{% extends 'base.html' %}

{% block navbar %}
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </div>
    </div>
  </nav>
{% endblock %}

{% block container %}
	<div class="row center main-area">
		<div class="col-md-12 question-area">
			<h1>Can I eat this?</h1>
		</div>
		<div class="col-md-12 text-area">
			<input type="text" id="food-text-box">
		</div>
		<div class="col-md-12" id="button-area">
			<button class="btn btn-primary" data-loading-text="Loading..." id="submit-button">Check</button>
		</div>
	</div>

	<div class="row center" id="overall-answer">
	</div>

	<div class="row" id="results">
	</div>
{% endblock %}

{% block recent_searches %}
	<div class="center" id="recent-searches">
		<h4>Recent searches:</h4>
		<ol class="list-inline">
		{% for search in recent_searches %}
			<li><a href="#" onClick="submitQuery('{{search}}')">{{search}}</a></li>
		{% endfor %}
		</ol>
	</div>
{% endblock %}

{% block footer %}
<div class="navbar-static-bottom center absolute" id="footer-info">
<p>&copy;2015 <a href="http://www.jameskang.me" target="_blank">James Kang</a></p>
</div>
{% endblock %}