{% extends 'base.html' %}

{% block content %}

<div class="container">

	<div class="row" id="main-area">
		<div class="col-md-12 question-area">Can I eat this?</div>
		<div class="col-md-12 text-area">
			<input type="text" id="food-text-box">
		</div>
		<div class="col-md-12">
			<button class="btn btn-primary" data-loading-text="Loading..." id="submit-button">Check</button>
		</div>
	</div>

	<div class="row" id="overall-answer">
	</div>

	<div class="row" id="results">
	</div>

	<div class="row" id="recent-searches">
		<h4>Recent searches</h4>
		<ol>
		{% for search in recent_searches %}
			<li>{{search}}</li>
		{% endfor %}
		</ol>
	</div>
</div>

{% endblock %}