{% extends 'base.html' %}

{% block navbar %}
  <nav class="navbar navbar-default">
	<div class="container-fluid">
	 <div class="navbar-header">
	  </div>
	  <div id="navbar" class="navbar-collapse collapse">
		<ul class="nav navbar-nav">
		  <li><a href="/">Home</a></li>
		  <li class="active"><a href="/about">About</a></li>
		</ul>
	  </div>
	</div>
  </nav>
{% endblock %}

{% block container %}
	<div id="about-section">
		<div class="paragraph">
			<h1>Why?</h1>
			<ul>
				<li>My wife is pregnant!</li>
				<li>I got kinda tired of googling if she's allowed to eat something. Haha. Well, and I thought it could be a good chance to try some technology stuff I always heard about.</li>
				<li>I missed web development. Except for CSS. I will never miss CSS. Which probably explains my "minimalist" (aka plain) websites. I regret nothing.</li>
			</ul>
		</div>

		<div class="paragraph">
			<h1>How?</h1>
			<ul>
                <li>I used <a href="http://www.crummy.com/software/BeautifulSoup/">BeautifulSoup</a> to <a href="https://github.com/jameskang410/canieatthis/blob/prod/esearch.py">scrape</a>  a bunch of pregnancy websites my wife and I frequented.</li>
				<li>The data was parsed into sentences and <a href="https://github.com/jameskang410/elasticsearch">indexed</a> as documents into <a href="https://www.elastic.co/">Elasticsearch</a>. 
					<ul>
						<li>I added an integer field to every document to weigh documents' scores because there are definitely some documents that do not contain useful information. Users can help adjust this field (and therefore the search results) by using the <i>Was this helpful?</i> buttons next to each search result.</li>
					</ul>
				<li>I used <a href="https://textblob.readthedocs.org/en/dev/">TextBlob</a> to do sentiment analyses on the search results and return an overall conclusion (i.e. safe or not) based on the average of the sentiment scores. I'm not totally satisfied with this solution, but it's a start.</li>
				<li>I used <a href="http://redis.io/">Redis</a> to handle recent searches and build a list of missed searches that are e-mailed to me (and flushed) every night via cron jobs. Theoretically I'll start scraping other websites to cover these missed searches. Theoretically...</li>
			</ul>
		</div>
	</div>
{% endblock %}

{% block footer %}
<div class="navbar-static-bottom center inherit" id="footer-info">
<p>&copy;2015 <a href="http://www.jameskang.me" target="_blank">James Kang</a></p>
</div>
{% endblock %}